@font-face {
  font-family: 'Intro Script R - H 2 Base';
  src: url("../../fonts/IntroScriptR-H2Base.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe Regular';
  src: url("../../fonts/Circe-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url("../../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
